/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(137, 83%, 35%);
  --title-color: hsl(126, 70%, 16%);
  --text-color: hsl(126, 16%, 45%);
  --border-color: hsl(120, 49%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(123, 100%, 96%);
  --container-color: hsl(116, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --second-font: "Roboto Slab", serif;
  --biggest-font-size: 2.6rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/


/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s, background-color .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.nav__drop {
  position: absolute;
  padding: 0.5rem;
  margin: 0.1rem -0.5rem;
  background-color: var(--white-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: none;
}

.nav__down {
  color: var(--title-color);
  padding: 0.4rem 0; 
}

.nav__item:hover .nav__drop {
  display: block;
}

.nav__down {
  display: flex;
}

.nav__down:hover {
  background-color: var(--title-color);
  color: var(--white-color);
  border-radius: 0.5rem;
}

.nav__down__active {
  background-color: var(--title-color);
  color: var(--white-color);
  border-radius: 0.5rem;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .1);
    padding: 1.25rem 4rem;
    transition: background-color .4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
  }

  .nav__link {
    color: var(--text-color);
    transition: color .4s;
  }

  .nav__link span {
    display: none;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .nav__actions i {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
  }

  .nav__actions i:hover {
    color: var(--first-color);
  }
}

/* shadow header */
.shadow-header {
  box-shadow: 0 2px 12px hsla(0, 0%, 0%, .3);
}

/*=============== LOGIN ===============*/
.login {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: hsla(230, 12%, 96%, .6);
  backdrop-filter: blur(16px);
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  transition: top .4s;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border: 2px solid var(--border-color);
  row-gap: 1.25rem;
}

.login__title {
  font-size: var(--h2-font-size);
}

.login__group {
  row-gap: 1.25rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  color: var(--text-color);
}

.login__button {
  width: 100%;
  cursor: pointer;
}

.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Show login */
.show-login {
  top: 0;
}

/*=============== HOME ===============*/
.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home__images img:nth-child(1) {
  object-fit: cover;
  width: 350px;
  border-radius: 16px;
  margin-bottom: 1.2rem;
}

.home__images img:nth-child(2) {
  object-fit: cover;
  height: 200px;
  width: 300px;
  border-radius: 16px;
}

/* Swiper class */


/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.button:hover {
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}

/*=============== SERVICES ===============*/
.services__container {
  row-gap: 3rem;
}

.services__card {
  width: 300px;
  text-align: center;
  margin: auto;
}

.services__card i {
  display: block;
  font-size: 3rem;
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

/*=============== MHASASISWA ===============*/
.mahasiswa__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.mahasiswa__data {
  text-align: center;
}

.mahasiswa__title {
  margin-top: 2rem;
  font-size: var(--h1-font-size);
}

.mahasiswa__desc {
  font-size: var(--small-font-size);
  margin: 1rem 16rem;
}

.mahasiswa__images img{
  margin: auto;
  width: 840px;
  height: 420px;
  object-fit: cover;
  border-radius: 16px;
  /* box-shadow: 0 2px 10px hsla(0, 0%, 0%, .3); */
}
/* Swiper class */


/*=============== PENTING ===============*/
.penting__wrap {
  display: flex;
}

.penting__title {
  font-size: var(--h1-font-size);
  text-align: center;
}

.penting__desc {
  font-size: var(--small-font-size);
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.penting__card {
  /* width: 600px 600px; */
  margin: auto;
}

.chart{
  width: 100%;
  padding: 2rem;
  border: 1px solid;
  border-radius: 1rem;
}

.tabel {
  /* border: 1px solid; */
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

/*=============== TENDIK ===============*/
.tendik__title {
  font-size: var(--h1-font-size);
}

/*=============== JOIN ===============*/
.join__container {
  position: relative;
  padding-block: 3rem;
}

.join__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.join__data {
  position: relative;
}

.join__title {
  color: white;
  text-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}

.join__form {
  display: grid;
  row-gap: 1rem;
}

.join__input {
  padding: 1.2rem 1rem;
  background-color: var(--body-color);
  color: var(--title-color);
  transition: background-color .4s;
}

.join__input::placeholder {
  color: var(--text-color);
}

.join__button {
  padding-block: 1rem;
  cursor: pointer;
}

/*=============== JURUSAN ===============*/
.jurusan__card {
  text-align: center;
  background-color: var(--container-color);
  padding: 2rem 3rem 2.5rem;
  border: 2px solid var(--border-color);
  transition: border .4s, background-color .4s;
}

.jurusan__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 1.5rem;
}

.jurusan__title {
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}

.jurusan__desc {
  font-size: var(--small-font-size);
  margin-bottom: 1.25rem;
}

.jurusan__stars {
  color: var(--first-color);
}

/*=============== FOOTER ===============*/
.footer {
  padding-block: 4rem 6rem;
}

.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
  margin-bottom: 1.25rem;
}

.footer__data {
  grid-template-columns: repeat(2, max-content);
  gap: 3rem 2rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__links {
  display: grid;
  row-gap: .5rem;
}

.footer__link {
  color: var(--text-color);
  transition: color .4s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  display: block;
  margin-top: 5rem;
  text-align: center;
  font-size: var(--small-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(230, 16%, 85%);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(230, 16%, 65%);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: .5rem;
  background-color: hsl(230, 16%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 6rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__menu {
    padding-inline: 3rem;
  }

  .services__card {
    width: 200px;
  }

  .jurusan__card {
    padding-inline: 1rem;
  }

  .home__images img:nth-child(2) {
    height: 180px;
    width: 250px;
  }
}

/* For medium devices */
@media screen and (min-width: 450px) {
  .jurusan__card {
    width: 320px;
  }
}

@media screen and (min-width: 576px) {
  .login__form {
    width: 400px;
    justify-self: center;
  }

  .home__images img:nth-child(1) {
    height: 250px;
    width: 400px;
  }

  .home__images img:nth-child(2) {
    height: 200px;
    width: 300px;
  }

  .login__close {
    width: max-content;
    top: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  .nav__menu {
    width: 400px;
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 420px;
    justify-content: center;
  }

  .join__form {
    width: 328px;
    justify-self: center;
  }

  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home__images img:nth-child(1) {
    height: 300px;
    width: 500px;
  }

  .home__images img:nth-child(2) {
    height: 250px;
    width: 350px;
  }

  .nav__actions {
    cursor: pointer;
  }

  .services__container {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 5rem;
  }

  .services__card {
    width: 180px;
    text-align: center;
    margin: auto;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    justify-content: space-between;
  }

  .nav__menu {
    /* width: 100%; */
    /* display: inline-flex;
    align-items: center; */
    padding-top: 15px;
    width: fit-content;
    /* background-color: blueviolet; */
  }

  .nav__list {
    display: flex;
    column-gap: 4rem;
  }

  .nav__link {
    font-weight: var(--font-medium);
    color: var(--text-color);
    transition: color .4s;
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .nav__link i {
    display: none;
  }

/* .home__container {
  grid-template-columns:500px 600px;
  align-items: center;

} */

  .home__data {
    display: flex;
    position: absolute;
  }

  .home__title {
    text-align: start;
    margin-left: 2.5rem;
    margin-top: 8rem;
  }

  .right__title {
    margin-left: 4rem;
  }

  .home__images {
    margin-right: -19rem;
    justify-content: flex-end;
    align-items: center;
  }

  .home__images img:nth-child(1) {
    object-fit: cover;
    height: 320px;
    width: 150px;
    border-radius: 16px;
    margin-bottom: 1.2rem;
  }

  .home__images img:nth-child(2) {
    object-fit: cover;
    height: 500px;
    width: 300px;
    border-radius: 16px;
    margin-left: 2rem;
  }

.services__card {
  width: 220px;
}

  .services__container {
    column-gap: 8rem;
  }

  .services__card i {
    font-size: 3.5rem;
  }

  .jurusan__container {
    padding-top: 2rem;
  }

  .jurusan__card {
    padding-inline: 2rem;
  }

  .jurusan__title {
    font-size: var(--h3-font-size);
  }

  .jurusan__desc {
    font-size: var(--normal-font-size);
  }

  .footer {
    padding-block: 6rem 3rem;
  }

  .footer__data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }

  .footer__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__links {
    column-gap: 1rem;
  }

  .footer__copy {
    margin-top: 7.5rem;
  }

  .scrollup {
    right: 3rem;
  }

  .show-scroll {
    bottom: 3rem;
  }

  @media screen and (min-width: 1220px) {
    .container {
      margin-inline: auto;
    }
  }
}